.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: 50px;
  width: 162px;
}
.storybook-button--primary {
  color: white;
  font-size: 20px;
  background-color: #000000;

}
.storybook-button--primary:hover {
  background-color: #313131;
}




.storybook-button--secondary {
  color: #333;
  font-size: 20px;
  background-color: transparent;
  border: black 1px solid;
}

.storybook-button--secondary:hover {
  background-color: #313131;
  color: white;
}

.storybook-button--round {

}
